.message {
  max-width: 300px;
  width: 100%;
  padding: 8px 2px;
  border: 2px solid #e1e5e9;
  background-color: #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.message-header {
  display: flex;
  justify-content: space-between;
}

.message-footer {
}

.message-user {
  font-size: 12px;
  padding: 4px 8px;
}

.message-time {
  display: inline-block;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  padding: 4px 8px;
}

.message-text {
  width: 100%;
  padding: 8px 2px;
  border: 2px solid #e1e5e9;
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 16px;
}

.left {
  float: left;
  margin-right: 0;
}

.right {
  float: right;
  margin-right: 0;
}
