.contacts {
  padding: 2.5rem 0 1.25rem;
}

.contacts__title {
  text-align: center;
  margin-bottom: 1.125rem;
}
.contacts__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
}
.form-input {
  height: 60px;
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid var(--color-primary);
  text-transform: uppercase;
}
.form-btn {
  max-width: 200px;
}
