.footer {
  padding: 1.25rem 0;
  width: 100%;
  background-color: var(--color-primary);
}
.footer__nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}
.footer__nav__item {
  padding: 1.125rem 1.25rem;
}
@media screen and (max-width: 580px) {
  .footer__nav_list {
    flex-direction: column;
  }
}
