.portfolio {
  width: 100%;
  background-color: var(--color-primary);
  padding: 3.75rem 0;
  overflow-x: hidden;
}

.portfolio__wrapper {
  margin: 0 1.25rem;
}

.portfolio__title,
.portfolio__text {
  color: var(--color-secondary);
  max-width: 22.5rem;
}

.portfolio__slider {
  padding-top: 2.5rem;
  margin-bottom: 2.5rem;
  height: 654px;
  width: 100%;
  position: relative;
  overflow: visible;
}

.slider__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  height: 100%;
  width: max-content;
  position: absolute;
  transform: translateX(-50%);
  will-change: transform;
}

.slide--large img {
  width: 400px;
  height: 534px;
}

.slide--small img {
  width: 220px;
  height: 220px;
}

.slide--medium img {
  width: 280px;
  height: 374px;
}

.slide--start {
  align-self: flex-start;
}

.slide--center {
  margin-bottom: 40px;
}

.slide--end {
  align-self: flex-end;
}

.slide img {
  display: block;
  object-fit: cover;
  flex-shrink: 0;
}

.right-zone {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  z-index: 10;
}

.left-zone {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 10;
}

@media (hover: none) and (pointer: coarse) {
  .left-zone,
  .right-zone {
    display: none;
  }
}
