.portfolio {
  width: 100%;
  background-color: var(--color-primary);
  padding: 3.75rem 0;
  overflow-x: hidden;
}

.portfolio__wrapper {
  margin: 0 1.25rem;
}

.portfolio__title,
.portfolio__text {
  color: var(--color-secondary);
  max-width: 22.5rem;
}

.portfolio__slider {
  padding-top: 2.5rem;
  margin-bottom: 2.5rem;
  height: 654px;
  width: 100%;
  position: relative;
  overflow: visible;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  height: 100%;
  width: max-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.slider picture:nth-child(1) .slide img,
.slider picture:nth-child(4) .slide img,
.slider picture:nth-child(8) .slide img,
.slider picture:nth-child(12) .slide img {
  width: 400px;
  height: 534px;
}

.slider picture:nth-child(2) .slide img,
.slider picture:nth-child(6) .slide img,
.slider picture:nth-child(9) .slide img {
  width: 220px;
  height: 220px;
}

.slider picture:nth-child(3) .slide img,
.slider picture:nth-child(5) .slide img,
.slider picture:nth-child(7) .slide img,
.slider picture:nth-child(10) .slide img,
.slider picture:nth-child(11) .slide img {
  width: 280px;
  height: 374px;
}

.slide img {
  display: block;
  object-fit: cover;
  flex-shrink: 0;
}

.slider picture:nth-child(1),
.slider picture:nth-child(8) {
  align-self: flex-end;
}

.slider picture:nth-child(4),
.slider picture:nth-child(7),
.slider picture:nth-child(10),
.slider picture:nth-child(12) {
  align-self: flex-start;
}

.slider picture:nth-child(3),
.slider picture:nth-child(5),
.slider picture:nth-child(11) {
  margin-bottom: 40px;
}
