.portfolio {
  width: 100%;
  background-color: var(--color-primary);
  padding: 3.75rem 0;
}

.portfolio__wrapper {
  padding: 0 1.25rem;
}

.portfolio__title,
.portfolio__text {
  color: var(--color-secondary);
}
