.dialog-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;

  width: 100%;
  padding: 12px 16px;
  border: 2px solid #e1e5e9;
  border-radius: 8px;
  font-size: 16px;

  height: 45px;
}

.dialog-user {
  font-size: clamp(1rem, 0.8944rem + 0.4444vw, 1.25rem);
}

.dialog-status-online {
  font-size: clamp(1rem, 0.8944rem + 0.4444vw, 1.25rem);
  color: #4caf50;
}

.dialog-status-offline {
  font-size: clamp(1rem, 0.8944rem + 0.4444vw, 1.25rem);
  color: #f44336;
}
